body {
	background-color: aqua;
}

header {
	margin: 50px;
	padding: 10px;

	background-color: blueviolet;
}

header > img {
	height: 75px;
}

header ul {
	background-color: red;
}

h1 ~ p {
	background-color: lime;
}

h1 + p {
	background-color: yellow;
}

#css-properties > div {
	height: 1000px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 10px;
	justify-content: center;
	align-items: center;

	background-color: beige;
}

#css-properties article {
	flex-basis: 300px;
	flex-grow: 0;
	flex-shrink: 1;

	padding: 15px;
	
	background-color: red;
}

#test {
	align-self: start;
}